<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="http://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script type="text/javascript" src="http://cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.6/socket.io.min.js"></script>
    <!-- <script src="static/js/application.js"></script> -->
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <style>
        /* Style the header */
        header {
          background-color: #666;
          padding: 20px;
          text-align: center;
          font-size: 30px;
          color: white;
        }

    </style>
</head>

<body>
<header>
    <h4>POC:Socket based communication using Flask</h4>
</header>

<div class="container" id="content">
    <div class="row">
        <br>
        <div id="status"> </div>
        <div id="time"></div>
        <h4>Streaming random digits:</h4>
        <p id="random"></p>
    </div>
</div>

</body>
</html>
<script>
$(document).ready(function(){
    // connect to the socket server.
    var socket = io.connect('http://127.0.0.1:5000/index');
    //var socket = io.connect('http://' + document.domain + ':' + location.port +'/index');

    //receive details about the status
    socket.on('status',function(msg) {
        console.log("Received Status:"+msg.status); // as we are passing a json
        status = '<p> <span style="font-size:18px;">Status:</span> <span id="check_status" style="font-size:18px;color:green;">'+ msg.status +'</span></p>'
        $('#status').html(status);
    });

    // Being a custom event we have to call it
    socket.emit('time');
    //Streaming time data
    socket.on('time',function(msg) {
        console.log("Received Time:"+msg.time);
        status = '<p><span style="font-size:18px;">Time (Changes for 10seconds*):</span> <span id="checktime" style="font-size:18px;color:red;">'+ msg.time +'</span></p>'
        $('#time').html(status);
    });

    // Streaming Random number
    socket.emit('random');
    var listofdigits = [];
    socket.on('random',function(msg) {
        console.log("Received Digit:"+msg.digit); // as we are passing a json
        if (listofdigits.length >= 10){
            listofdigits.shift()
        }
        listofdigits.push(msg.digit);
        status = '';
        for (var i = 0; i < listofdigits.length; i++){
            status = status + '<p>' + listofdigits[i].toString() + '</p>';
        }
        $('#random').html(status);
    });

});
</script>